<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title> Aeen World </title>
		<h1>Aleen, rzip, studying purpose</h1>
        <link href="/static/aln.css" rel="stylesheet">
        <style>
            .aln {
                color : purple;
                font-size: 200px;
                font-family: 'Trebuchet MS';
            }

            .hero{
                color:red;
                font-family: arial;
            }
        </style>
	</head>
	<body>
		<h2 style="color: pink; font-size:100px; font-family:'Courier New';"> Aleen</h2>
		<h3 class="aln">Girl</h3>
		<h4>Saudi</h4>
		<p> try to achive a lot of goals</p>
		<br>
		<p>bye</p>
		<section>
		<p style="color: blue; font-size: 400px;">pease</p>
		</section>
		<div>
		<p class="hero">hello</p> 
		</div>
		<!--blah blah blah-->
		
	</body>
</html>
